.css-1eqerk1 {
    max-width: 1220px;
    margin: 0 auto;
    height: 100%;
}

.pt-3, .py-3 {
    padding-top: 1rem!important;
}

@media (min-width: 768px){
.mb-md-2, .my-md-2 {
    margin-bottom: .5rem!important;
}}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.css-5uk08r {
    background: rgba(51, 51, 51, 0.8);
    border-radius: 16px;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 56px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.css-mmm1cf-Typography-interRegular-pRegular12 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
    fill: #808080;
}


.css-icip60 {
    border-radius: 2px;
}

.css-1dgznfq {
    max-width: 789px;
    height: 505px;
    border-radius: inherit;
}

.el-1{
    overflow-x: auto
}

.css-etk2d5 {
    position: relative;
    display: block;
    padding: 0px;
    border: 0px;
    max-width: 122px;
    height: 80px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: 2px;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    min-width: 130px;
}

.css-1ityuhj {
    padding: 0px;
    height: 80px;
}

.css-1phd9a0 {
    object-fit: cover;
}

.css-ypd03g {
    position: relative;
    padding: 0px;
    border: 0px;
    max-width: 122px;
    height: 80px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: 2px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 122px;
    width: 100%;
}

.css-1ityuhj {
    padding: 0px;
    height: 80px;
}

.css-19neqai {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.css-1phd9a0 {
    object-fit: cover;
}

.flex-shrink-0 {
    flex-shrink: 0!important;
}

.css-kygv54-P-interRegular-pRegular12 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}

.css-ygm395-P-interRegular-pRegular16 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgb(229, 229, 229);
    fill: rgb(229, 229, 229);
}

.css-1uqeuzh-H5-interRegular-bold32 {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: rgb(229, 229, 229);
    fill: rgb(229, 229, 229);
}

.css-1btmnfr {
    padding: 4px 8px;
    min-width: 163px;
    max-width: fit-content;
    background: rgb(251, 207, 51);
    border-radius: 4px;
}

.css-1jdw7xk-Divider-Divider {
    margin: 0px;
    border: 0px;
    background-color: rgba(128, 128, 128, 0.1);
    height: 1px;
    width: 100%;
}

.css-1n1vmei-TagBox-TagBox {
    height: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: min-content;
    padding: 4px;
    white-space: nowrap;
    backdrop-filter: blur(20px);
    border-radius: 4px;
    background: transparent;
}

.css-12nzv1h-Typography-interRegular-pRegular14 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgb(128, 128, 128);
    fill: rgb(128, 128, 128);
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.css-1jdw7xk-Divider-Divider {
    margin: 0px;
    border: 0px;
    background-color: rgba(128, 128, 128, 0.1);
    height: 1px;
    width: 100%;
}
.el-2{
    padding: 12px 16px;
}

.css-me3dom-GeneralItem {
    background: rgba(128, 128, 128, 0.1);
    padding: 14px 12px;
    border-radius: 8px 8px 2px 2px;
    cursor: auto;
}

.css-1536ynn-Link-Root-GeneralItem {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    border: 0px;
    text-decoration: none;
    letter-spacing: 0.04em;
    appearance: none;
    white-space: nowrap;
    transition: background-color 0.1s ease 0s;
    height: 40px;
    min-width: 40px;
    outline: none;
    cursor: pointer;
    min-height: 52px;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 0px 0px 8px 8px;
    margin-top: 1px;
    padding: 16px !important;
}

.css-1mv2v36-Icon {
    margin-left: 16px;
    margin-right: 16px;
}
.css-1c65jr6-Typography-interRegular-buttonMedium16 {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: rgb(191, 191, 191);
    fill: rgb(191, 191, 191);
}

.css-1g55yku-Typography-interRegular-pRegular12-GeneralItemBase {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(191, 191, 191);
    fill: rgb(191, 191, 191);
    white-space: normal;
}

.css-1536ynn-Link-Root-GeneralItem {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    border: 0px;
    text-decoration: none;
    letter-spacing: 0.04em;
    appearance: none;
    white-space: nowrap;
    transition: background-color 0.1s ease 0s;
    height: 40px;
    min-width: 40px;
    outline: none;
    cursor: pointer;
    min-height: 52px;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 0px 0px 8px 8px;
    margin-top: 1px;
    padding: 16px !important;
}

.css-ajmj03-Label {
    display: inherit;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-flex-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    width: 100%;
}

.css-19hq0xq-Typography-interRegular-pRegular16 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgb(191, 191, 191);
    fill: rgb(191, 191, 191);
}

.css-10qtibm {
    background: rgb(0, 131, 252);
    border-radius: 25px;
    padding: 4px 8px;
}

.css-15n2ol4-Typography-interRegular-pRegular12 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    fill: #FFFFFF;
}

.css-ajmj03-Label svg {
    height: auto;
}

.css-1d8h9bw-Icon {
    order: 0;
}

.css-q0tk53 {
    height: 56px;
}

.css-14d5fpz-DropdownWrapper-DropdownWrapper-DropdownWrapper {
    position: absolute;
    top: 100%;
    right: 0px;
    transition: opacity 0.3s ease-in-out 0s;
    opacity: 0;
    display: none;
    z-index: 999;
    margin-top: 2px;
    background: rgba(51, 51, 51, 0.8);
    width: 100%;
    padding: 0px;
    border-radius: 2px 2px 16px 16px;
    box-shadow: rgb(0 0 0 / 25%) 0px 1px 2px, rgb(0 0 0 / 25%) 0px 0px 16px, rgb(255 255 255 / 10%) 0px 0.5px 0px inset;
    backdrop-filter: blur(25px);
}

.css-1rlcmwe-Root {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.04em;
    appearance: none;
    white-space: nowrap;
    transition: background-color 0.1s ease 0s;
    min-width: 40px;
    outline: none;
    background: rgb(0, 131, 252);
    border-radius: 2px 2px 2px 8px;
    height: 100%;
    padding: 14px 12px;
}


.css-ajmj03-Label {
    display: inherit;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-flex-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    width: 100%;
}

.css-1t7utft {
    margin-left: 18px;
}

.css-jbzn17-P-interRegular-buttonMedium16 {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}

.css-19hdsz9-P {
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    opacity: 0.8;
    text-align: start;
}

.css-11v6ziw-Root {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    border: 0px;
    padding: 0px 12px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.04em;
    appearance: none;
    white-space: nowrap;
    transition: background-color 0.1s ease 0s;
    min-width: 40px;
    outline: none;
    background: rgb(0, 131, 252);
    border-radius: 2px 2px 8px;
    height: 100%;
    margin-left: 1px;
    width: 56px;
}

.css-ajmj03-Label svg {
    height: auto;
}


.css-14d5fpz-DropdownWrapper-DropdownWrapper-DropdownWrapper {
    position: absolute;
    top: 100%;
    right: 0px;
    transition: opacity 0.3s ease-in-out 0s;
    opacity: 0;
    display: none;
    z-index: 999;
    margin-top: 2px;
    background: rgba(51, 51, 51, 0.8);
    width: 100%;
    padding: 0px;
    border-radius: 2px 2px 16px 16px;
    box-shadow: rgb(0 0 0 / 25%) 0px 1px 2px, rgb(0 0 0 / 25%) 0px 0px 16px, rgb(255 255 255 / 10%) 0px 0.5px 0px inset;
    backdrop-filter: blur(25px);
}

.css-1jdw7xk-Divider-Divider {
    margin: 0px;
    border: 0px;
    background-color: rgba(128, 128, 128, 0.1);
    height: 1px;
    width: 100%;
}

.css-mmm1cf-Typography-interRegular-pRegular12 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
    fill: #808080;
}


.css-1y12nur {
    background: rgba(128, 128, 128, 0.1);
    border-radius: 16px;
}

.el-4{
    margin-top: 18px;
}

.css-171ojx-NumberInput {
    position: relative;
    width: 100%;
    max-height: 56px;
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    border: 2px solid rgba(128, 128, 128, 0.4);
    background: rgba(51, 51, 51, 0.8);
}

.css-171ojx-NumberInput input {
    width: 100%;
    border: none;
    padding: 8px 16px;
    transition: border-bottom-color 0.25s ease 0s;
    border-radius: inherit;
    background: transparent;
    outline: none;
    color: rgb(229, 229, 229);
    font-size: 16px;
}

.css-171ojx-NumberInput input:disabled {
    color: rgb(128, 128, 128);
}

.css-171ojx-NumberInput label {
    position: absolute;
    top: 8px;
    left: 16px;
    color: rgb(128, 128, 128);
    transform: translate(0px, 1.5px) scale(0.75);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transform-origin: left top;
}


.css-1hl1ti6-ModalWrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.6);
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    display: none;
    z-index: 999;
    -ms-overflow-style: none;
    -webkit-scrollbar-width: none;
    -moz-scrollbar-width: none;
    -ms-scrollbar-width: none;
    scrollbar-width: none;
}

.css-1bq1omm-ModalBox {
    height: 635px;
    width: 585px;
    background-color: rgb(26, 26, 26);
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

.css-zjwky7 {
    margin-top: 12px;
    background: rgba(128, 128, 128, 0.1);
    width: fit-content;
    border-radius: 8px;
    margin-bottom: 40px;
}

.css-1w86e20-Root {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    border: 0px;
    padding: 0px 12px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.04em;
    appearance: none;
    background: none transparent;
    white-space: nowrap;
    transition: background-color 0.1s ease 0s;
    min-width: 40px;
    outline: none;
    color: rgba(128, 128, 128, 0.4);
    width: 48px;
    border-radius: 0px;
    height: 56px;
}

.css-ajmj03-Label {
    display: inherit;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-flex-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    width: 100%;
}

.css-lgsbr2-Typography-interRegular-buttonMedium16 {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: rgb(128, 128, 128);
    fill: rgb(128, 128, 128);
}

.css-mmm1cf-Typography-interRegular-pRegular12 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
    fill: #808080;
}

.css-1qhz8ps-Typography-interRegular-pRegular12 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(229, 229, 229);
    fill: rgb(229, 229, 229);
}

.css-6kdy42-Typography-interRegular-buttonMedium16 {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: rgb(229, 229, 229);
    fill: rgb(229, 229, 229);
}

.css-pv2vq8-Root {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    border: 0px;
    padding: 0px 12px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.04em;
    appearance: none;
    background: none rgb(0, 131, 252);
    white-space: nowrap;
    transition: background-color 0.1s ease 0s;
    min-width: 40px;
    outline: none;
    color: rgba(128, 128, 128, 0.4);
    width: 48px;
    border-radius: 0px;
    height: 56px;
}

.css-mmm1cf-Typography-interRegular-pRegular12 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
    fill: #808080;
}

.css-wzbl2m-H4-interRegular-bold40 {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: rgb(229, 229, 229);
    fill: rgb(229, 229, 229);
}

.css-yz72mo-Root {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    border: 0px;
    padding: 0px 12px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 12px;
    letter-spacing: 0.04em;
    appearance: none;
    background: none rgb(105, 102, 243);
    white-space: nowrap;
    transition: background-color 0.1s ease 0s;
    min-width: 40px;
    outline: none;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 48px;
}

.css-1lckts2 {
    margin-top: 52px;
}

.css-a4voe {
    padding: 24px;
    background: rgba(128, 128, 128, 0.1);
    width: 100%;
    border-radius: 2px;
}

.css-kmsf34-H6-interRegular-bold24 {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: rgb(217, 217, 217);
    fill: rgb(217, 217, 217);
}

.css-ohcmng-P-interRegular-pRegular16 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgb(128, 128, 128);
    fill: rgb(128, 128, 128);
}

.css-1uqeuzh-H5-interRegular-bold32 {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: rgb(229, 229, 229);
    fill: rgb(229, 229, 229);
}

.css-1xj30oo {
    display: grid;
    gap: 2px;
    grid-template-columns: auto auto auto;
    margin-top: 12px;
}

.css-y1gt6f {
    margin-top: 40px;
}

.css-qesal0-P-interRegular-pRegular16 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgb(191, 191, 191);
    fill: rgb(191, 191, 191);
}