.css-1bq1omm-ModalBox {
    height: 635px;
    width: 585px;
    background-color: rgb(26, 26, 26);
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.css-10pt21e {
    position: absolute;
    right: 16px;
    top: 16px;
}

.css-zcgqjf-Icon {
    fill: rgba(128, 128, 128, 0.4);
}

.css-5j2ao7-H4-interRegular-bold40 {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: rgb(217, 217, 217);
    fill: rgb(217, 217, 217);
}

.css-ge2upr-Typography-interRegular-pRegular14 {
    margin: 8px 0px 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgb(191, 191, 191);
    fill: rgb(191, 191, 191);
}

.css-178yklu {
    margin-top: 24px;
}
button, input {
    overflow: visible;
}

.css-pu9f8t-Input label {
    position: absolute;
    top: 8px;
    left: 16px;
    color: rgb(128, 128, 128);
    transform: translate(0px, 8px) scale(1);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transform-origin: left top;
}

.css-1y2s2kc-Typography-interRegular-buttonSemibold14 {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    fill: rgba(128, 128, 128, 0.6);
}

.css-pu9f8t-Input {
    position: relative;
    width: 100%;
    max-height: 56px;
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    border: 2px solid rgba(128, 128, 128, 0.4);
    background: rgba(51, 51, 51, 0.8);
}

.css-pu9f8t-Input input {
    width: 100%;
    border: none;
    padding: 8px 16px;
    transition: border-bottom-color 0.25s ease 0s;
    border-radius: inherit;
    background: transparent;
    outline: none;
    color: rgb(229, 229, 229);
    font-size: 16px;
}
.mask{
    color: rgb(229, 229, 229);
    font-size: 16px;
}
.css-1jhvuix-ModalWrapper {
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease-in-out 0s;
    opacity: 1;
    display: block;
    z-index: 999;
}

.s-1{
    padding: 56px 103px;
}
.s-2{
    margin-top:18px;
}

.s-3{
    color: rgb(0, 131, 252);
}
.s-4{
    width:100%;margin-top:12px
}

.css-ajmj03-Label {
    display: inherit;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-flex-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    width: 100%;
}

.justify-content-between {
    justify-content: space-between !important;
}

.css-1ncqp0c-Root {
    width: 100%;
    margin-top: 12px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    border: 0px;
    padding: 0px 12px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 12px;
    letter-spacing: 0.04em;
    appearance: none;
    background: none rgba(255, 255, 255, 0.986);
    white-space: nowrap;
    transition: background-color 0.1s ease 0s;
    height: 48px;
    min-width: 48px;
    outline: none;
}